extends layout 

mixin project(Name, Description, CodeLink, LiveLink, img, tags)
    .project
        .image(style='background-image: url(#{img})')
        if(LiveLink)
            a(href="#{LiveLink}")
                h1= Name
        else
            h1= Name
        p= Description
        .content 
            .tags
                each tag, index in tags ? tags : []
                    .tag
                        p= tag[index]
            .links
                if(CodeLink)
                    .link
                        | <a href="#{CodeLink}" target="_blank" rel="noopener noreferrer">Project GitHub</a>
                if(LiveLink)
                    .link 
                        |  <a href="#{LiveLink}" target="_blank" rel="noopener noreferrer">See it in Action!</a>


block content
    .projects
        each project in projects
            +project(project.name, project.description, project.codelink, project.livelink, project.img, project.tags)